@import "compass/css3";
@import "mixins";

// Colors
$primary-color: #4690D6;
$secondary-color: #e9e9e9;
$border-color: #dddddd;
$alert-color: #67080a;
$success-color: #396516;
$warning-color: #f08a24;
$info-color: #a0d3e8;

$light-bg-color: #f4f4f4 !default;
$lighter-bg-color: #fafafa !default;

$light-border-color: #dddddd !default;
$lighter-border-color: #eeeeee !default;

$global-radius: 3px !default;

$border-radius: $global-radius !default;

$components-bg-color: #ffffff !default;

$tabs-padding: 5px !default;
$tabs-font-size: 14px !default;
$tabs-icon-size: 18px !default;

$comment-padding: 10px !default;
$comment-avatar-size: 30px !default;
