@import "compass/css3"; // compass css3 helpers
@import "variables";

.interactions.interactions-has-active-tab {
	& > .interactions-component {
		border: 1px solid $light-border-color;
		@include border-radius($border-radius);
		&.elgg-ajax-loader {
			padding: 30px;
			margin: 0;
		}
	}
}

.interactions-controls {
	@include clearfix;
	margin-top: 10px;
	height: $tabs-padding * 2 + $tabs-icon-size + 1px;
}

.elgg-menu-interactions {
	& > li {
		margin: 0 3px 0 0;
		font-size: $tabs-font-size;
		a {
			padding: $tabs-padding $tabs-padding*2;
			line-height: $tabs-icon-size;
			display: inline-block;
		}
		&.elgg-state-selected {
			border-width: 1px 1px 0 1px;
			border-style: solid;
			border-color: $light-border-color;
			@include border-top-right-radius($border-radius);
			@include border-top-left-radius($border-radius);
			a {
				background: $components-bg-color;
				top: 1px;
			}
		}
	}
}

.interactions-icon {
	font-size: $tabs-icon-size;
	line-height: $tabs-icon-size;
	vertical-align: middle;
}
.interactions-badge-indicator {
	margin-left: 5px;
	font-size: $tabs-font-size;
	line-height: $tabs-icon-size;
	vertical-align: middle;
}

.interactions-component {
	display: none;
	background-color: $components-bg-color;
	&.elgg-state-selected {
		display: block;
	}
	.elgg-list {
		margin: 0;
		& > li {
			padding: $comment-padding;
		}
	}
	.elgg-no-results {
		padding: $comment-padding;
		margin: 0;
	}
	.attachments-toggler {
		float: none;
	}
}

.interactions-image-block {
	@include image-block($comment-avatar-size, $comment-padding);
}

.elgg-form.interactions-form {
	border: none!important;
	padding: $comment-padding;
	.elgg-foot {
		margin-top: 5px;
	}
	input[type="submit"] {
		margin: 0;
	}
}